build/bin
build/windows/installer/tmp
node_modules
frontend/dist
.idea
frontend/package.json.md5
*.db
go.sum
appconf.json
.vscode
*.db.wal
SaveData
docs-local
app.log
.claude
lunabox-docs
.github/skills
.github/prompts
.codex
.agent
.agents
.env
.env.build
openspec
.windsurf/

/frontend/.vite-dev.err.log
/frontend/.vite-dev.log